body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: linear-gradient(50deg, #08001f, #02727a); */
    background-color: #440136;
}
#calculator{
    font-family: Arial, sans-serif;
    background-color: #000000;
    border-radius: 50px;
    max-width: 550px;
    box-shadow: 0 0 50px #c20899,
    0 0 30px #c20899;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 4rem;
    text-align: left;
    background-color: #000000;
    color: white;
    box-shadow: 0 0 10px #c20899,
    0 0 10px #c20899;
    border: none;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
    margin: 10px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: #000000;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 8px #c20899,
    0 0 8px #c20899;
}
button:hover{
    /* color: #000000; */
    /* background-color: #c20899; */
    box-shadow: 0 0 40px #c20899,
    0 0 40px #c20899;
    transform: scale(1.06);
}
button:active{
    background-color: hsl(313, 93%, 40%);
}
.btn{
    background-color: #c20899;
}
.btn:hover{
    background-color: hsl(313, 93%, 40%);
    transform: scale(1.06);
}
.btn:active{
    background-color: hsl(30, 100%, 0%);
}